@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

*{
    margin: 0;
    padding: 0;


    font-family: 'press start 2p';
}



/* html {
    font-family: 'Press Start 2P';
} */